img.emmaus-connect {
  display: flex;
  width: 100%;
  max-height: 100vh;
}
figcaption img {
  display: flex;
  position: absolute;
  bottom: 8%;
  width: 250px;
}
.title {
  display: flex;
  height: 100%;
  width: 100%;
  filter: opacity(0.2);
}

button.admin-page-button {
  height: 10%;
  width: 30%;
  cursor: pointer;
  padding: 4px 8px;
  margin-top: 15px;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 25px;
  color: white;
  background-color: #233d8d;
}

.adminpage-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  z-index: 50;
}

.testtkt {
  filter: opacity(0.2);
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  justify-content: right;
}
