.adminPageSection {
  display: flex;
}

.adminpage-button-container {
  display: flex;
  flex-direction: column;
  margin-left: 17rem;
  margin-top: 17rem;
  width: 100%;
  align-items: center;
}
.adminpage-button {
  height: 20%;
  cursor: pointer;
  padding: 5px 8px;
  margin-top: 15px;
  margin-bottom: 30px;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 25px;
  color: white;
  background-color: #233d8d;
}

.testtkt {
  filter: opacity(0.2);
  display: flex;
  width: 60vw;
  position: fixed;
  right: -10%;
  top: 0;
  z-index: -1;
}

.testtkt img {
  height: 100vh;
}
